* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
  margin: 70px 0;
}
.contact-form section {
  max-width: 800px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(1, 1, fr);
  grid-gap: 20px;
}
.contact-form section header {
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.contact-container {
  border: solid black 2px;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
.contact-container h3 {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: left;
}
.contact-container form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  /* border-bottom: #2b1f4d solid 1px; */
}

label {
  font-size: 16px;
}

input[type="email"],
input[type="text"],
textarea {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.input-field button {
  padding: 12px 24px;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.link-to-contact-page {
  margin-top: 10px;
}
.link-to-contact-page a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
